[2020-08-04 05:59] ismcagdas opened #542 ".NET 5 Support"
Hi,

Do you plan to support .NET 5 when its released ?

[2020-08-04 09:54] #541 closed

[2020-08-04 09:56] jonorossi commented on #542
@ismcagdas What specifically is the problem with Windsor on .NET 5 today?

[2020-08-05 13:25] ismcagdas commented on #542
@jonorossi it seems like keeping the project as netstandard and using it in a net5.0 project works. Sorry for the wrong issue.

[2020-08-05 13:25] #542 closed

[2020-08-07 20:00] jwaliszko-gain opened #543 "proxy slow"

[2020-08-07 20:00] #543 closed

[2020-08-09 13:03] AntonioDrusin commented on #530
With Castle Windsor
[code]
[code]

With MS Injection
[code]
[code]

[2020-08-09 13:05] AntonioDrusin commented on #530
3.1 tester project (results as above) https://github.com/AntonioDrusin/WindsorNetCore31Tester
2.2 tester project https://github.com/AntonioDrusin/WindsorNetCore22Tester (transients are released by castle windsor).

[2020-08-10 04:47] generik0 commented on #530
@ltines as far as i know, Castle should be disposing the transients when the patents are disposed (in this case the controllers, correct?)

Otherwise We get memory leaks.
Do We have a tracking issue here? Ie, items manually / Factory resolved also need to manually released?

[2020-08-10 13:28] AntonioDrusin commented on #530
Note that this behavior only applies to the controllers. Manually resolving and releasing results in the transient dependencies being correctly released.

[2020-08-10 15:24] generik0 commented on #530
So the controller ends up being single instance for the app lifetime?

Og the controller is Scoped to the request?

Ie i would Think That the correct behaviour for the controllers is a new i stance Per request. Ie scoped. And ctor transients would Then also be scoped at the same time, because there lifetime is related to What created them.

How is the facility doing the controllers?

[2020-08-10 16:50] AntonioDrusin commented on #530
The controller is released correctly after each web request. The controller depends on a component registered with lifestyle transient. That component is created each time the controller is created, but it does not get released.
The controller is disposed directly by the asp framework.

[2020-08-10 17:13] AntonioDrusin commented on #530
I am not sure of how this machinery should work. It looks like the controller is disposed by Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker with a call to _cacheEntry.ControllerReleaser(_controllerContext, _instance). But this call does not call Release on Windsor's kernel.
Later the "burden"(?) dependencies are released by Microsoft.AspNetCore.Http.Features.RequestServicesFeature

[2020-08-10 18:05] AntonioDrusin commented on #530
Getting deeper here. It looks like all the transients are added to the list of burdens (instance2burden) of the same instance of a LifecycledComponentsReleasePolicy. Those burdens are not released when the controller is released.

[2020-08-10 18:10] generik0 commented on #530
I agree with you.
If the controller is disposed / released then ctor injected transients should release.

This sounds like a classic tracking issue.

[2020-08-10 20:23] AntonioDrusin commented on #530
Note @ltines  suggests to use LifestyleNetTransient to register transient components. I just don't know if that is the best way to to do so as it affects most of our internal library registrations in a way that is "host" dependent.

[2020-08-11 04:47] generik0 commented on #530
@AntonioDrusin yes I read that, and I also agree with you.
As far as I know, castle disposes / release transients when the parent object is disposed/ released / deconstructed.
Hence, I don't see why there should be a difference.
I hope to be able to look more at this on Thursday/Friday earliest. But I am looking forward to seeing anything you find!!'

[2020-08-12 21:51] AntonioDrusin commented on #534
This is probably a bit of work for people converting from 2.2. But I agree with @generik0 that for now it's best to just support 3.x best practices for now.

[2020-08-14 21:30] AntonioDrusin commented on #530
@ltines  had to implement it this way.

We are using the custom scope "ExtensionContainerScopeAccessor" + "ExtensionContainerScope" to know when to release the burdens.

.Net core disposes of the controller itself after "resolving" its dependencies. Allowing Windsor to manage the resolution of the controller I think it is not possible to automatically release its dependencies without having a scop

[2020-08-14 22:04] AntonioDrusin commented on #530
The solution was very simple. We had to give windsor control over the creation of the controller.
https://andrewlock.net/controller-activation-and-dependency-injection-in-asp-net-core-mvc/#the-servicebasedcontrolleractivator

Simply calling:
[code]
fixed my issue.

I think the only thing needed for this issue to go away is to document this extension. I think that the LifestyleNetTransient still ha

[2020-08-17 08:55] tanghaojie commented on #541
[Done](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5707)

[2020-08-24 07:30] #534 closed

[2020-08-24 07:32] generik0 commented on #530
@AntonioDrusin will you update the document for this and make a PR please,.
Great, great find!!!

[2020-08-25 20:17] AntonioDrusin commented on #530
I was thinking the same, I just did not find a good way to override all transients to be registered as LifestyleTransient. But calling AddControllerAsServices fixes it for me. I think that should fix other issues, for example lazy injections and lambda injections into the controller. I prefer to use all of the capabilities of Windsor when constructing a controller.

[2020-08-31 12:25] jonorossi commented on #533
@generik0 do you know if this is still a problem after the recent changes?

[2020-08-31 12:31] #526 closed

[2020-08-31 12:33] jonorossi commented on #485
Closing as @dariuslf provided an answer. `Castle.Windsor.Extensions.DependencyInjection` is also the path forward for ASP.NET Core 3.x.

[2020-08-31 12:33] #485 closed

[2020-08-31 12:34] jonorossi commented on #472
Closing as stale. `Castle.Windsor.Extensions.DependencyInjection` is the path forward for ASP.NET Core 3.x.

[2020-08-31 12:34] #472 closed

[2020-08-31 12:35] jonorossi commented on #463
Closing as stale. `Castle.Windsor.Extensions.DependencyInjection` is the path forward for ASP.NET Core 3.x.

[2020-08-31 12:35] #463 closed

[2020-08-31 12:37] jonorossi commented on #487
Closing as `Castle.Windsor.Extensions.DependencyInjection` is the path forward for ASP.NET Core 3.x.

[2020-08-31 12:37] #487 closed

[2020-08-31 12:42] jonorossi commented on #209
Obviously a lot has happened in the last few years with ASP.NET Core and Windsor's per web request lifestyle. Closing this as stale, feel free to reopen if there is new info.

[2020-08-31 12:42] #209 closed

[2020-08-31 12:42] jonorossi commented on #412
Closing as stale. `Castle.Windsor.Extensions.DependencyInjection` is the path forward for ASP.NET Core 3.x.

[2020-08-31 12:42] #412 closed

[2020-08-31 12:43] generik0 commented on #533
@jonorossi i don't know. But I can test and try to diag in the weekend. Thanks for reminding me/us...!

[2020-08-31 12:44] generik0 commented on #535
PR is completed I will close issue when i have tested the nuget package and implementation and doco. Thanks @jonorossi

[2020-08-31 12:47] generik0 commented on #531
@MishaD87 We have merge an update for the DependencyInjection. I think it will be in NuGet soon. This allows you to extend the DependencyInjection implementation, (overriding methods) and also get control of the container.
Does this help your issue?

[2020-08-31 12:49] generik0 commented on #412
@jonorossi this is solved with latest DependencyInjection implementation. Thanks.

[2020-08-31 12:50] jonorossi opened #546 "Release 5.1.0"
This is the thread to make sure everything gets sorted for 5.1.0 so no one is wondering where things are at.

Here is the GitHub milestone with a bunch of Extensions.DependencyInjection facility issues, I've assigned a bunch of stuff but I need you guys to decide what you want in the next release:
https://github.com/castleproject/Windsor/milestone/7

Jump in if you want to help out, it doesn't hav

[2020-09-08 13:31] minhhut commented on #533
I have same issue

[2020-09-08 17:07] generik0 commented on #533
The issue is here. A "burden" already existing in the cache.
![image](https://user-images.githubusercontent.com/2411563/92506436-c4e01700-f205-11ea-892e-8951610db641.png)

Looks like the IActionInvokerFactory is being resolved in scope a scope, and is not completed before the next call. Interesting that a factory should be in a scope and hence a burden,..

[2020-09-08 17:17] generik0 commented on #533
@jonorossi @AntonioDrusin any thoughs. Is a static lock in the WindsorScopedServiceProvider bad?

![image](https://user-images.githubusercontent.com/2411563/92507796-d32f3280-f207-11ea-8fe2-56a3aef4b01c.png)
![image](https://user-images.githubusercontent.com/2411563/92507811-da564080-f207-11ea-866c-d7509729ce28.png)

@minhhut @mdavis thoughts? a fix, or a work around, good/bad practice?

[2020-09-08 19:14] AntonioDrusin commented on #533
I feel that locking in general is a performance issue. I am downloading the project and looking at it today. I would not disagree with adding the _lock to get the ball rolling for all people blocked by this bug.

[2020-09-08 19:33] generik0 commented on #533
looks like the lock can be added in the  GetCachedInstance. Hence the transients won't be blocked in this case..

![image](https://user-images.githubusercontent.com/2411563/92519838-f1525e00-f21a-11ea-8e3a-f17a36a8d03c.png)

[2020-09-08 20:06] generik0 commented on #533
@jonorossi please add label "Bug" and please check PR #547 :-)

[2020-09-08 21:59] minhhut commented on #533
I could reproduce this issue by doing load test (multiple requests) after server started. No workaround for now, it just happens at the start, then it's fine

[2020-09-09 04:52] generik0 commented on #533
Yes it happens on startup because this is when MS resolve a number of services. Like the factories and loggers.
They seam to be doing it multi thread on the same scope (but multiple scopes) and this is causing an issue for castle when creating multiple the instances on the same scope. The creation needs to be thread safe, so We only get 1 instance Per scope.

My PR fixes this.

[2020-09-13 15:55] generik0 commented on #533
@jonorossi improved nestling and improved naming of variables for readability

[2020-09-15 09:10] #533 closed

[2020-09-23 23:18] robertcoltheart commented on #546
What's the timeline for this please? We'd really like to use a stable version with ASP.NET 3.1.

[2020-09-24 06:27] generik0 commented on #546
@jonorossi @robertcoltheart @AntonioDrusin
I feel we are good now. Many people have been testing and all we maybe want to do is a cleanup of some of the code. But this can wait. It works we think.

@robertcoltheart please tell us, have you been using the beta.  Any worries or issues?

[2020-09-24 06:50] jonorossi commented on #546
I'll quote myself from the issue description:

If we don't need the issues assigned to the GitHub milestone, then we need to move them out before release.

[2020-09-24 07:21] generik0 commented on #546
@AntonioDrusin what do you think.
I am happy with the existing changes. Maybe worried a little if we need more documentation.

About other milestones, I do not feel anything else is critical like this is.

[2020-09-24 08:10] robertcoltheart commented on #546
Yes, and it seems to work for us, although I haven't tested any complicated wirings.

[2020-09-24 09:22] generik0 commented on #531
@ltines @MishaD87 is this still an issue, or should the
`.WithServiceSelf()
.Configure(reg => reg.LifeStyle.ScopedToNetServiceScope())`
just be documented?

[2020-09-24 09:23] generik0 commented on #530
@AntonioDrusin did you have time to document the AddControllersAsServices in the md?
If so, i think we should close.

[2020-09-24 09:23] #535 closed

[2020-09-24 09:24] generik0 commented on #536
@jonorossi i will close this. The current implementation is good enough

[2020-09-24 09:24] #536 closed

[2020-09-24 09:26] generik0 commented on #546
@jonorossi @AntonioDrusin @ltines There are to items still open. I think the #530 can be closed. I think #531 should just be documented. @AntonioDrusin any thoughts?

[2020-09-24 09:27] generik0 commented on #546
I have tested with signalr, cookie implemeantions, compression, node services and many many other deep freatures. It seams to be working!

[2020-09-25 07:10] robertcoltheart commented on #546
I have actually found one issue, which is that if you provide your own container with `WindsorServiceProviderFactory`, there doesn't seem to be a root scope created. It probably just needs this:

[code]

[2020-09-29 00:42] robertcoltheart commented on #546
Everything else seems to be working for me. The only other adaption I had to make was with the missing `AsMiddlware` extension method, but I've worked my way around that, so it isn't an issue.

I'm good for this to go out as stable whenever you can please! 👍

[2020-09-30 05:39] generik0 commented on #546
Hi @jonorossi i will deep dive into to this again within the next 5 days. I have a break between projects.
After this inhope we can 5.1 :-)

[2020-10-01 05:39] robertcoltheart opened #549 "Extensions.DependencyInjection: KestrelServer unable to instantiate for https"
[code]

Using the solution here seems to solve the issue: https://github.com/volosoft/castle-windsor-ms-adapter/pull/21

[2020-10-05 04:19] robertcoltheart commented on #549
I don't think this is an issue necessarily, I seemed to have resolved it somehow.

[2020-10-05 04:19] #549 closed

[2020-10-05 05:55] robertcoltheart opened #550 "Extensions.DependencyInjection: Existing services in container are cleared when registering in host"
The use case is creating a container and registering components before registering it with the host. The naming sub-system is replaced, and all existing components are cleared.

The following example fails:

[code]

[2020-10-05 17:56] twenzel opened #552 "Decorators does not work anymore (5.1.0-beta001)"
After upgrading from v4.x to 5.1-beta I found that the decorators does not work anymore.

**Exception:**
[code]

Using: Castle.Windsor.Extensions.DependencyInjection (5.1.0-beta001)

In previous version this was working:
[code]

Now only this is working:
[code]

I don't want to re-write the whole register logic in my application and try to find all occurences.

Is this new behavior by design?

I'v

[2020-10-05 18:15] twenzel commented on #552
I think the error comes from `Castle.Windsor.Extensions.DependencyInjection`.
Using `Castle.Windsor.MsDependencyInjection` with `Castle.Windsor` (5.1.0-beta001) works like a charm.

[2020-10-05 19:12] ltines commented on #530
Sorry for being bit MIA.

`AddControllerAsServices` would definitely fix it or we can add an option to `UseWindsorContainerServiceProvider` to tie instances of Transient services to `scopeCache` of current scope. That will make sure it will behave same as `IServiceCollection.AddTransient` and ppl can decide how they want it to behave and keep the behaviour in sync for both service definitions.

Th

[2020-10-05 19:32] ltines commented on #546
@generik0 sorry for being bit MIA

For #531 I've opened PR to add more extensions
For #530 is a bigger question but I can see docu has been updated

So good for me

[2020-10-06 01:53] jonorossi commented on #531
Pull request merged.

[2020-10-06 01:53] #531 closed

[2020-10-06 05:15] generik0 commented on #530
@ltines welcome back :-)
I Think it would be good to add options for both, so both Can be handles within the facility...

[2020-10-07 10:51] generik0 commented on #550
@robertcoltheart the changes I made to the WindsorServiceProviderFactory opened up for a base, and hence you can substitute.
In this base, you can override the AddSubSystemToContainer.

Would this not help you. I.e. you make your own WindsorServiceProviderFactory implementation. One could argue that resetting the container makes it "conforming".

![image](https://user-images.githubusercontent.com/

[2020-10-07 11:30] robertcoltheart commented on #550
Yes, there are definitely ways around this. My point is that if you are using the `IHostBuilder` extensions, namely `UseWindsorContainerServiceProvider(this IHostBuilder hostBuilder, IWindsorContainer container)`, then the implication is that you can use your ready-built container in the ASP.NET Host.

What _actually_ happens, however, is that all your components are are wiped out because the nami

[2020-10-07 11:34] generik0 commented on #550
Hi @robertcoltheart
Yes i know they get wiped. This is why I fought to get the container exposed.
So before there wasn't even a work around for it..

I like your change, if @jonorossi thinks it is good, it will also solve issues for me!

[2020-10-07 12:24] generik0 commented on #552
HI @ltines this seams to what is causing the issue;:

![image](https://user-images.githubusercontent.com/2411563/95330273-93ac4280-08a8-11eb-84e4-76682ccc7934.png)
I though @robertcoltheart PR #551 but it doesn't.

@ltines can you tell us the reason for the "AddSubSystem" in the facility? and also, can you tell us why this might be giving an issue?
Thanks :-)

[2020-10-07 12:32] generik0 commented on #550
@robertcoltheart when i got the container exposed in the service provider factory this was the only workaround i could get implemented:
I think your fix might be better...

![image](https://user-images.githubusercontent.com/2411563/95331205-f0f4c380-08a9-11eb-9f2e-426af689706d.png)

[2020-10-07 12:48] generik0 commented on #552
@ltines this will fix the issue;
Any thought to improving?

![image](https://user-images.githubusercontent.com/2411563/95332682-0ec32800-08ac-11eb-9410-8f1ab51fa0cb.png)

[2020-10-07 13:29] generik0 commented on #552
@jonorossi @ltines @twenzel @AntonioDrusin @robertcoltheart Got it.. Anyone have time to comment / review?
#556

[2020-10-07 13:32] generik0 opened #557 "Code error in AddSubSystemToContainer, wrong container"
Should be using container, not rootContainer

[code]

[2020-10-08 07:16] #557 closed

[2020-10-09 06:25] twenzel commented on #552
@generik0 I can confirm #556 fixes the issue.

[2020-10-10 09:48] ltines commented on #552
the custom subsystem is becuase we need specific order of components for a service to match .NET semantics

[2020-10-11 13:09] robertcoltheart commented on #550
I have a viable workaround, which is to create the container, and immediately create a `WindsorServiceProviderFactory`, which sets the naming subsystem. After that I can configure my container, and finally add it to the host builder. So I'm happy with this approach for now. Someone that may know the inner workings of Windsor better than me might be able to attempt to solve this without using a new

[2020-10-21 08:06] rmszc81 commented on #493
hello everyone,
is there any date for release the final version of this component? for now it's still in beta, :(
thanks!

[2020-10-21 08:41] generik0 commented on #493
Hi @rmszc81 have you been using the Beta?
We are almost through the issues We know about, but still need more beta testers to make sure all configurations are Working

[2020-10-22 03:14] #552 closed

[2020-10-22 09:14] rmszc81 commented on #493
Yeah, I have been using the beta and it's working fine for me, so, in short:

it's an asp.net core 3.1 web api application, including:
- automapper
- serilog
- castle dynamic proxy,
- castle windsor (obviously)

injections are mostly done by constructors, a few by properties.

no known issues, it's running properly and performance is good too.

[2020-10-28 15:46] chrisheil commented on #493
@generik0 We upgraded our application the day the beta came out, and have been cleared in QA and UAT after several months of testing. In fact, this beta resolved some issues we had faced with the workarounds we had introduced with the earlier solutions before the beta

We are running on asp.netcore 3.0 web api with the following:

* automapper
* castle dynamic proxy
* graylog
* Entity Framework Co

[2020-10-28 16:06] generik0 commented on #493
Good news @chrisheil. Thanks!!!!

[2020-11-10 17:47] robertcoltheart commented on #546
Any update on this? Can we get a stable release out now?

[2020-11-10 18:19] generik0 commented on #546
I just tested with docker and aspnetcore. This works also..
Great stuff...

@jonorossi anything missing for the release?

[2020-11-11 02:55] jonorossi commented on #546
@generik0 issues still assigned to the milestone: https://github.com/castleproject/Windsor/milestone/7

[2020-11-11 03:14] #550 closed

[2020-11-11 07:52] generik0 commented on #530
@AntonioDrusin @ltines should we leave it as the AddControllerAsServices documentation?

[2020-11-11 09:04] robertcoltheart commented on #546
The only item left is relating to transient services, for which we have documentation now, no? Can this issue be closed?

[2020-11-11 09:16] generik0 commented on #546
I think so, please comment and close :-)

[2020-11-11 20:46] chrisheil opened #559 "AspNet Core 3.1 An item with the same key has already been added"
I am experiencing an issue similar to issue #533 while running the Castle.Windsor.Extensions.DependencyInjection v5.1.0-beta001 package. This is only occurring only on startup under load, and seem to be resolved on subsequent requests.

This is the stack trace I am getting from the error

[code]

Here is how I am registering Castle Windsor

[code]

For my service registrations I am using `IWindsor

[2020-11-12 00:54] robertcoltheart commented on #530
Can we close this issue and release 5.1.0?

[2020-11-12 02:16] rmszc81 commented on #530
@robertcoltheart got here by accident, needed to check this situation and it's working well. I can't wait for v5.1, :D

[2020-11-12 16:25] stylefish commented on #559
we copied this code to give it a try and make some adjustments and tests for getting a better net core experience.
we faced the same issue and ending up exchanging the ScopeCache with a self implemented `ConcurrentScopeCache`. the code is as follows:

[code]

if i find the time to think me into it again i could create a PR, or maybe someone could with this code.
from our experience this seems safe

[2020-11-13 02:42] jonorossi commented on #559
From a brief look this appears to be the same as #533, not similar.

[2020-11-13 13:25] generik0 commented on #546
Hi all.

Just tested with official net core 5.
Spun-up like a charm

Cc/ @jonorossi @ltines @robertcoltheart

[2020-11-13 13:28] generik0 commented on #559
Hi.
I am confused. Do we have an issue?
@chrisheil can you make a small demo project with the issue?

[2020-11-13 13:32] generik0 commented on #530
@AntonioDrusin can we close please :)

[2020-11-13 13:43] #530 closed

[2020-11-13 14:11] stylefish commented on #559
@generik0 i cannot say safely because we're using the class i mentioned above, at the moment i do not have the time to make a sample or unit test project, maybe next week, but in the code file
https://github.com/castleproject/Windsor/blob/35ebd6e5a77de289536b3862f366d6cbfad19ecc/src/Castle.Windsor/MicroKernel/Lifestyle/Scoped/ScopeCache.cs#L26
there is a comment that indicates that this might stil

[2020-11-13 14:23] generik0 commented on #559
Hi @stylefish
I committed a lock on the scope caching for the Netcore integration a while ago. The issue should be fixed.

I thought @jonorossi triggered a build with these changes.

Please, yes, make a demo of your specific issue next week, and I will also check your issue against the current implementation.

You don't need to make the demo complex, just a app that starts up with the exceptions.

[2020-11-13 16:33] stylefish commented on #559
Hi @generik0
i saw that, i think the issue will be fixed by your PR, we did basically the same but did it in the scope cache class, not in the "ExtensionContainerScope".
i just thought when this issue gets posted again maybe its not fixed (or the nuget packages are not up to date?).
anyhow: i will try it with our complete project, happened there every start.
i will use the current nuget prerelease

[2020-11-13 17:12] chrisheil commented on #559
@generik0 Here is a [test project](https://github.com/chrisheil/WindsorStartupError) I created for this. I am starting the asp.net site using a console, then running the test runner to hit it 100 times in a row to reproduce the error

I may just not understand the release process and this could have been fixed already. I saw issue 533 had been resolved and merged into `master` on Sept 15 in commit

[2020-11-13 17:16] generik0 commented on #559
@jonorossi can you trigger a new beta build and Nuget deploy so we can ensure everything = good, and no issue?

[2020-11-13 19:22] balintn22 opened #560 "When a type load fails, Windsor return a NullReferenceException as opposed to a TypeLoadException"
I just hit this problem recently:
When calling  DiContainer.Resolve<ILogger>(), I received a NullReferenceException, and took quite some time to figure out why.
It turned out that my installer failed to copy one of my .dlls.

In a similar case the .Net Framework throws a more specific TypeLoadException, which would have been helpful in this case too.

Castle.Core version: 4.4.1
Castle.Windsor vers

[2020-11-15 23:34] jonorossi commented on #559
@generik0 seems overkill to make a beta2 release, every master build is available in the NuGet preview feed.

[2020-11-16 01:27] robertcoltheart commented on #559
@chrisheil @generik0 I downloaded the test project and updated to the latest preview release from appveyor, and this issue goes away. So I think its safe to say the issue has already been addressed, and we can close this issue.

[2020-11-16 03:43] jonorossi commented on #559
Thanks heaps @robertcoltheart. With that known, closing as duplicate.

[2020-11-16 03:43] #559 closed

[2020-11-16 03:45] jonorossi commented on #546
Hi all, everything assigned to the 5.1.0 milestone is now closed. I assume everyone is ready to release since there are no open issues, I'll make the release later today.

[2020-11-16 14:07] jonorossi commented on #546
- Tagged [`v5.1.0`](https://github.com/castleproject/Windsor/releases/tag/v5.1.0)
- Confirmed successfully pushed to nuget.org
- [Tweeted](https://twitter.com/castleproject/status/1328338221797785606)

Thanks to @generik0, @robertcoltheart, @ltines, @twenzel and everyone that contributed to discussions and testing.

Please log new issues for anything you run into, happy to push out patch releases

[2020-11-16 14:07] #546 closed

[2020-11-16 15:39] dvdwouwe opened #561 "Inline dependencies aren't propagated by CollectionResolver"
If you change the behavior of the DefaultKernel to propagate inline dependencies, all sub-resolvers should pass the AdditionalArguments from their CreationContext.

[code]

I will create a PR for this, with a unit-test that confirms the behavior.

PS
This will affect implicitly the code for .Net Core 3.1 / 5.0, because there is a class called RegisteredCollectionResolver. The registering of this c

[2020-11-18 12:11] nativenolde opened #563 "Castle.Windsor.Extensions.DependencyInjection parallelism issues"
@ltines @generik0 thank you for contributing the Castle.Windsor.Extensions.DependencyInjection package.
I guess a lot of people are very happy about that!

Since migrating my application to use the ms-di implementation (v5.1), i've noticed some potentially serious issues. They occur when running multiple ASP.NET Core Integration Tests in parallel on independent application instances. It seems some

[2020-11-18 12:25] generik0 commented on #563
Hi @nativenolde
Good stuff, thank you!

I will look into it. Of the top of my head I expect it has to do with the scope handling being a static.

Your tests are great, give me a short time I will get back o you...

[2020-11-18 12:43] nativenolde commented on #563
Sure, take your time ... i guess it's getting complicated ;)

[2020-11-18 13:10] generik0 commented on #563
@nativenolde is it just me, or is nothing attached? You can also expose a repo if you prefer.

[2020-11-18 13:20] nativenolde commented on #563
![image](https://user-images.githubusercontent.com/45496636/99535488-3fb57300-29a9-11eb-8180-aa0a0e092859.png)

[2020-11-18 13:30] generik0 commented on #563
OMG. noob here. Only saw 1 hyperlink. thanks.

[2020-11-18 14:02] generik0 commented on #561
@dvdwouwe I see the value in this. Is there any way this could break existing implementations? Do you think there a reason why the original implementation did not pass this?

[2020-11-18 14:22] dvdwouwe commented on #561
I fixed the original implementation in the class CollectionResolver, by passing the context.AdditionalParameters:

[code]

I don't think this change it has any impact , because:
* if propagating from the parent is disabled (default), then context.AdditionalArguments is null
* if propagating from the parent is enabled (you can see this in the unit-test code), then context.AdditionalArguments is pro

[2020-11-18 14:25] generik0 opened #564 "Castle.Core target frameworks vs Castle.Windsor"
Hi @jonorossi

The Castle.Core target references are:
`<TargetFrameworks>net45;netstandard2.0;netstandard2.1</TargetFrameworks>`

Should we align Castle.Windsor against Castle.Core?

Even better:

`<TargetFrameworks>net45;netstandard2.0;net5.0</TargetFrameworks>`

?

[2020-11-18 14:38] generik0 commented on #564
After a bit of local testing. Net45 and netstandard1.6 does not build.

So the question is, should we add 2.1 to the build for

[2020-11-18 14:42] generik0 opened #565 "Castle.Core has made Castle.Core.Internal.Lock obsolete"
HI @jonorossi

Castle.Core has removed made Castle.Core.Internal.Lock obsolete. It is used in SimpleThreadSafeCollection and SimpleThreadSafeSet.
Recommends migration to System.Threading.ReaderWriterLockSlim that is also in net45++

Thoughts, should we migrate? Right now, the build will fail due to warning, if Castle.Core is updated.

EDIT: After pulling 4.4.1, Lock is actually removed, this chang

[2020-11-18 15:45] generik0 commented on #563
Hi @nativenolde I changed the test framework to Nunit. From stack overflow:

NUnit creates a new instance of the test class and then runs all of the tests method from the same instance. And each test fixture i believe is its own context.
I have also run them parallel with R#.

NUnit fixtures runs more like the host would. and with same memory.

![image](https://user-images.githubusercontent.com/24

[2020-11-18 16:18] generik0 commented on #563
You see, here is the issue we need to improve to make this no longer an issue for test:

References a static:, and i cannot get the container or resolve the scope in any other way.. Until we get rid of the static scope pointers, there can only be 1 pr assembly.
![image](https://user-images.githubusercontent.com/2411563/99556458-d3933900-29c1-11eb-8810-2209238dd3a1.png)

[2020-11-19 10:38] nativenolde commented on #563
Yes, you are right, a single instance with a huge amount of parallel requests seems to work.

As windsor addresses enterprise and advanced needs, this could become a problem, because those users probably have a DevOps (ci/cd) workflow that could include such parallel tests.

Do you see a possibility to get the this redesigned or workaround?
Maybe in collaboration with @jonorossi ?

[2020-11-19 10:46] generik0 commented on #563
@nativenolde i looked into it last night. I would need to rewrite the scope handling in Windsor not to utilize a static initialization.

I am not saying it is undoable, I just need to think more ;-)

[2020-11-19 10:49] nativenolde commented on #563
many thanks in advance for your effort!

[2020-11-20 10:13] Echtelion commented on #151
Hello,

I'm sorry to reopen this old ticket, but the latest version of castle changed InvalidateCache to private.
It's also not possible to reimplement it in the derived method, because the fields are also made private and the property are protected read only. Ultimately, assignableHandlerListsByTypeCache is private with no protected accessor at all.

I can reimplement it with reflection, as I'm n

[2020-11-20 10:16] Echtelion opened #566 "DefaultNamingSubSystem.InvalidateCache was protected and has been made private in 5.1.0"
Hello,
refer to #151

I'm sorry to reopen this old ticket, but the 5.0 version of windsor changed InvalidateCache to private.
It's also not possible to reimplement it in the derived method, because the fields are also made private and the property are protected read only. Ultimately, assignableHandlerListsByTypeCache is private with no protected accessor at all.

I can reimplement it with reflecti

[2020-11-20 20:31] generik0 commented on #563
@nativenolde @AntonioDrusin @robertcoltheart @twenzel @ltines

I think i might be able to extend the IScopeAccessor to allow for some kernel resolving. The resolving getting a scope cache instance..
Please see PR spike #567
- Please forgive name ScopedLifestyleManager, added

[code]

then the ExtensionContainerScope can be an instance instead of a static.

[code]

Do I have any community support t

[2020-11-23 10:17] nativenolde commented on #566
@generik0 Unfortunately, i am also affected by this change...

https://github.com/castleproject/Windsor/pull/556/files#diff-abfeffa5864abf0d2f22d3a8eb387e9742a306bb7309ad528b044b78da178b45

@Echtelion You can use that snippet as a workaround:

[code]

[2020-11-23 15:39] generik0 commented on #566
@Echtelion with the latest release?

[2020-11-23 15:44] generik0 commented on #566
@Echtelion @nativenolde

Please tell me What the exact issue is.
It is private now, you where using in a derived cleans, and don't have access?

Is this also the issue for you @nativenolde just how it is exposed, or is there an
Issue withe the functionality of the change?

[2020-11-23 17:54] Echtelion commented on #566
The commit is for "Add InvalidateCache to DependencyInjectionNamingSubsystem", when it actually remove the ability to be called from others derived Subsystem.

The reason I'm using this method is for being able to unregister an instance. After removing it, I have to clear the cache in order to have the container behave normally.
I now have to drop the whole container and create a new one, instead

[2020-11-23 18:24] generik0 commented on #566
@Echtelion can you make a PR with the change you need to fix it?
Would a protected virtual help?

[2020-11-23 18:31] Echtelion commented on #566
Yes, a protected virtual will do the job.

Sorry, I'm not used to git, still under tfs

[2020-11-23 18:43] generik0 commented on #566
Tfs has got ;-)

[2020-11-23 18:49] Echtelion commented on #566
Thanks.

Not a problem for me, I have a workaround to wait, and in the worst case I can compile it myself.

[2020-11-24 05:46] jonorossi commented on #563
@generik0 I've left a few comments on #567, the direction you have taken isn't how this should work. Scope accessors usually use some external context to know what "scope" you are in, it doesn't make sense creating a scope object to stick it into the container just to resolve it back out inside a scope accessor. I'm unsure if resolving inside a scope accessor is even a good idea, there may be reen

[2020-11-24 05:50] jonorossi commented on #565
`SimpleThreadSafeCollection` should be changed to use a `ReaderWriterLockSlim` directly. We used to use the `Lock` class in Castle.Core because Silverlight doesn't have RWLS. There is no need for this abstraction anymore.

Castle.Core's `SynchronizedDictionary` (internal class) is an example of a class that no longer uses the `Lock` abstraction.

[2020-11-24 05:54] jonorossi commented on #564
I think this one will need to wait a bit. Castle.Core target frameworks in master are newer than the last release, we've not yet got to release Castle.Core 5.0.

- 4.4.1: `net35;net40;net45;netstandard1.3;netstandard1.5`
- master: `net45;netstandard2.0;netstandard2.1`

Now that `net5.0` is out, we'll add that and probably drop ns2.1.

[2020-11-24 06:03] jonorossi commented on #561
Thanks @dvdwouwe, apologies for the slow response. Merged.

[2020-11-24 06:03] #561 closed

[2020-11-24 08:45] generik0 commented on #563
Hi @jonorossi
Thabks for your feedback!
I will kill the spike.

Personally l, one of the things I dislike about aspnet(core) the most is the static HttpContext.
I find it to be an anti OO...

Just like the static implementation of scope in castle.

Something should own the Scopes, and be able to access them.

I have looked at many other DIs, her the container is the owner of the scope, it does not

[2020-11-24 15:42] nativenolde commented on #563
xUnit Workaround: Turn off parallelism inside the assembly
[assembly: CollectionBehavior(DisableTestParallelization = true)]

https://xunit.github.io/docs/running-tests-in-parallel.html

[2020-11-24 20:33] ltines commented on #563
The problem comes from the fact the code expectes there will be only one host per app domain / running process.
Solution might be to tie the scopes to instance of `IHost` - so we could have scopes for multiple hosts within a process.

I think that would solve your issue. But I am thinking how relevant is it to real world use cases?

[2020-11-24 22:29] rvdginste commented on #563
@ltines I think it's a relevant issue in the context of unit tests: in the projects I work on, we also typically run the unit tests in parallel and have a separate castle windsor container setup for each test. It would be limiting if that would not be possible.

Is this related to the static `RootScope` in `ExtensionContainerRootScope`?

[2020-11-25 05:58] generik0 commented on #563
@rvdginste it is related to ExtensionContainerRootScope and ExtensionContainerScope

[2020-11-25 06:02] generik0 commented on #563
@rvdginste it is related to ExtensionContainerRootScope and ExtensionContainerScope but primarily the GetScope method in the scope accessor, using the static scopes.

@ltines how would you bind to IHost If it is static?

It isnt just s matter of the uTests i feel. It is also an issue since the MS DI and other DIs do not fail on this. Hence, our implementation is not 100% conforming.

[2020-11-25 06:31] TraGicCode opened #570 "AspNetMvcControllerFactory should throw a 404 exception when a controller is not found or allow customization hook"
Hello,

I was looking at the Facility for aspnet.mvc (
https://github.com/castleproject/Windsor/blob/4b93c7b01807398822708f44d7ec4ba7b8167cc7/src/Castle.Facilities.AspNet.Mvc/AspNetMvcControllerFactory.cs#L109 )  and unfortunately am unable to use it because it's throwing a `MissingControllerRegistrationException` exception instead of a `HttpException` 404 exception like shown here https://github.

[2020-11-25 08:40] generik0 commented on #570
@TraGicCode

Some questions:

- If you throw a 404 exception, will upi be adding new references to the lib?
- I agree that it would be better to throw a 404, it is more clear. But the MissingControllerRegistrationException should be an inner excepåtion
- Are there more of these that should be changed?

Finally, the AspNetCore Facility will soon be superseded to be replaced with Castle.Windsor.Exte

[2020-11-25 10:43] generik0 commented on #565
HI @jonorossi when you have time, please review PR

[2020-11-25 11:12] generik0 commented on #564
@jonorossi please review PR whne you have time. Castle.Windsor looks ready to update target frameworks

[2020-11-25 11:20] generik0 commented on #560
@balintn22 can you please provide a sample project with the error for replication?

[2020-11-25 11:21] generik0 commented on #528
@FramnkRulez please provide a sample project for replication

[2020-11-25 11:22] generik0 commented on #527
@domenmali you are also welcome to provide a simple sample solution for replication.

[2020-11-25 11:23] generik0 commented on #524
Hi @jnm2 if you look at the Castle.Windsor.Extensions.DependencyInjection scoping, does this help?

[2020-11-25 15:12] generik0 commented on #563
@jonorossi @rvdginste @ltines @nativenolde @AntonioDrusin  please have a look at PR #517
I have managed to get the static handling out. Needed to use a thread static for the GetScope and the Stateful Static behaviour is replaces with a singleton.
The IoC has the root scope registered (might add custom interface instead of using ILifetimeScope?)

Have a look, please have a look if/when you have tim

[2020-11-27 06:32] jonorossi commented on #524
@generik0 not sure how the Extensions.DependencyInjection project solves this problem issue.

@jnm2 what would the calling code look like? How are you proposing to set the user ID before calling `BeginScope`?

[2020-11-27 06:40] generik0 commented on #524
@jonorossi does not solve the issue, but i thought it might be help as to an example he could work from ;-)

[2020-11-27 07:02] jonorossi commented on #566
Fixed by #569.

[2020-11-27 07:02] #566 closed

[2020-11-27 21:58] ni-mi opened #574 "Dictionary with values of other components that are lists throws exceptions"
Dictionaries don't work with value types of lists.
For example:

        <component id="list" type="System.Collections.Generic.List`1[[System.String]]">
            <parameters>
                <collection>
                    <array>
                        <item>11</item>
                        <item>22</item>
                    </array>
                </collection>
            </parameters>

[2020-11-27 22:10] ni-mi commented on #574
I would consider the easy solution to be:
Modify GenericListConverter so that instead of throwing NotImplementedException at PerformConversion(string value, Type targetType), if the string value contains $ - it will Resolve that object: this.parent.Context.Kernel.Resolve

[2020-11-27 22:15] ni-mi commented on #574
@jonorossi I would very much appreciate your help with this issue

[2020-11-29 04:00] TraGicCode commented on #570
I can check this

This seems reasonable to me.

Yea this is the only place from what i saw.

I wish I could say we are ready for that but due to things out of my control the software i'm working on won't be using .net core anytime soon!

[2020-11-29 09:51] generik0 commented on #563
@jonorossi @rvdginste @ltines @nativenolde @AntonioDrusin please have a look at PR #517

Anyone have feelings about my cleanup of the assembly? Managed to get rid of most of the static "stuff in favour of a singleton. However, the root must be a asynlocal to allow for multiple for the Parallelization of this issue..

I only have next week (week 49) to finish this up before the next job.. If anyone

[2020-11-29 16:46] ni-mi commented on #574
Merge request https://github.com/castleproject/Windsor/pull/575 has a test and a fix for the issue for you to review @jonorossi

[2020-11-30 01:45] jonorossi commented on #563
Pull request #573.

[2020-11-30 02:25] jonorossi commented on #574
Thanks for the pull request. Could you please include a full stack trace here where it throws the `NotImplementedException`, trying to see what it is doing but don't have time to pull up the code at the moment. We've got parameter syntax parsing code so it would be best to be using that.

[2020-11-30 02:27] jonorossi commented on #574
We've also got the property reference notation syntax (i.e. `#{propertyName}`) that should probably be handled for you rather than reimplementing this here with a few rough string manipulations.
https://github.com/castleproject/Windsor/blob/master/docs/xml-configuration-properties.md

[2020-11-30 06:26] ni-mi commented on #574
Here is the stack trace

System.NotImplementedException : The method or operation is not implemented.
  at Castle.MicroKernel.SubSystems.Conversion.GenericListConverter.PerformConversion (System.String value, System.Type targetType) [0x00001] in /Users/nimrodo/dev/repos/Windsor/src/Castle.Windsor/MicroKernel/SubSystems/Conversion/GenericListConverter.cs:46
  at Castle.MicroKernel.SubSystems.Conver

[2020-11-30 06:36] ni-mi commented on #574
@jonorossi I'd be happy if you could point out what you mean by parameter syntax parsing code

[2020-11-30 21:10] rvdginste commented on #563
@generik0 @ltines @jonorossi @nativenolde

@generik0 I checked your code, but I had the impression that @jonorossi recommended to not register the root scope in the container. Either way, your code gave me an idea and I made a pull request myself: #577 .

The changes are pretty small and are based on the following:

- each container instance needs exactly one root scope instance
- a new scope is a

[2020-12-01 05:41] generik0 commented on #563
@rvdginste Yes, your change is more simple/clean. I have closed my PR.

[2020-12-03 21:17] ahmedtolba1984 opened #578 "IIS Process hangs when recycling due to deadlock happened with Castle Windsor"
Dears,
My application is hanging when IIS App Pool Process w3wp.exe got recycled, and after a lot of investigations and taking a lot  of crash dump files, the root cause of my issue was due to **Threads being blocked and a deadlock happened.**
it happened when I changed my cache API from **Transient** to **Singleton**
Here's the stack trace I got when investigating the dump file. 
--
[[HelperMetho

[2020-12-03 23:54] ahmedtolba1984 commented on #578
@jonorossi  any updates as this issue is critical for us

[2020-12-04 00:17] jonorossi commented on #578
I'm not trying to sound rude, but I think you misunderstand the open source license you are using Windsor under, you are the one being paid to maintain your system for your customers, not sure what you expect me to do.

For it to be blocked there you've probably got a deadlock, look at more of your threads in the memory dumps and you might find you've got a race from multiple ASP.NET worker thread

[2020-12-04 01:23] #565 closed

[2020-12-04 09:19] #574 closed

[2020-12-04 09:29] jonorossi commented on #578
Closing as this has no reproduction, and the stack trace outside of Windsor code and some of the Winsdor frames is completely snipped off, so no idea how you are even initialising your container. If you find a defect we can reopen the issue.

[2020-12-04 09:29] #578 closed

[2020-12-04 09:31] jonorossi opened #579 "Release 5.1.1"
This is a discussion issue for the next release, tentatively 5.1.1.

I said a while back if anyone requests a release I'll create a release issue so everyone can help plan when it goes out and with what changes. @ni-mi has requested one in #575.

We've currently got these unreleased changes since 5.1.0:
- Upgrade minimum Castle.Core version to 4.4.1
- Fix CollectionResolver to allow propagation of

[2020-12-04 09:52] ni-mi commented on #579
I am not sure what the release standards are and the time it consumes - but I believe in short release cycles so the users will be able to upgrade as seamlessly as possible.
If there are no pressing open issues that will be fixed in the next few days - I will appreciate a release as soon as possible since as I mentioned in #575 - xml configuration lists referenced in dictionary is a blocker for me

[2020-12-04 13:55] nativenolde commented on #579
Probably it might be a good idea to publish a pre-release package after a pull request has been merged. The PR-initiators whould immediately be able to use the package which would reduce the pressure/needs to publish a suboptimal or incomplete general available release.

[2020-12-04 14:06] jonorossi commented on #579
However, there are pre-release packages of every build in the pre-release feed. Are you suggesting publishing pre-releases to nuget.org?

We've got 3 unreleased defects that could easily be packaged into a patch release, not sure why that would be an incomplete GA release. One of those defects fixes something broken that was broken in 5.1.0, so leaving them sit means a small group of people can't

[2020-12-04 14:16] nativenolde commented on #579
Sure, why not? that's what pre-releases are made for :)

I think we have to treat bugs and features separately ... not every new feature/merge must immediately be shipped with a new GA package, but every bugfix should... at least for my understanding.

[2020-12-04 15:10] ni-mi commented on #579
@nativenolde @jonorossi  there are few bug fixes on this release - not just new features.
So I think that calls for a GA release.

[2020-12-07 00:45] behrygood1982 opened #580 "Do Scopes cause Transients + Scoped dependencies to be released at the end of the scope?"
Hello,

When i create a new scope in my application and then resolve components that have a lifetime of Scoped OR transient when the scope ends will they be automatically have release called on them?

[2020-12-07 11:26] stylefish commented on #579
i would also vote for a pre-release, we're currently facing an issue we've not yet completely reproduced. it would be helpful to have the latest version to cross that off our list ;)
is there a possibility for a "pre release" on nuget? i think that way it would be the best for all, everyone who wants to test the new version can via pre release and everyone that wants to wait for the RTM can do tha

[2020-12-07 11:50] ni-mi commented on #579
@stylefish what issue that is not completely reproduced? In Windsor? And why a pre release version and not a GA?
There are few bug fixes so I think a GA (of a minor version) is in order - and if there are more bugs (there are always bugs, we just haven't found them all:) ) - we can move to 5.1.2 - a new minor version...

[2020-12-07 12:17] stylefish commented on #579
@ni-mi yeah i'm fine with a GA... just saying if there are doubts i would also install a pre-release. anyhow: a release of any kind is much appreciated :)
we have an issue in our code and are not sure where the problem is, one of the last things we did was the update to the current windsor release, its too early to say anything - we're still investigating. like you said, there are always bugs, i d

[2020-12-08 07:23] jonorossi commented on #579
Thanks for the feedback. We've got a bunch of defect fixes that have unit tests so releasing a GA release makes more sense to me otherwise we'd release a prerelease and have people asking when is the GA coming, so let's continue what we've done in the past with Castle and skip the prerelease. Happy to add a prerelease when we've got a larger release with more unstable new features or changes, but

[2020-12-08 07:35] jonorossi commented on #579
- Tagged [`v5.1.1`](https://github.com/castleproject/Windsor/releases/tag/v5.1.1)
- Confirmed successfully pushed to nuget.org
- [Tweeted](https://twitter.com/castleproject/status/1336212639668531201)

Thanks to @generik0, @dvdwouwe, @nativenolde and @ni-mi

Please log new issues for anything you run into.

[2020-12-08 07:35] #579 closed

[2020-12-08 11:31] lg2de commented on #564
netstandard2.1 is used if referenced from dotnetcoreapp3.1. If you remove ns2.1 and add net5.0 you will not support dotnetcore 3.1. But 3.1 is LTS, net5.0 is NOT LTS.

[2020-12-08 11:39] jonorossi commented on #564
Windsor today targets `net45;netstandard1.6`, so "dropping" ns2.1 in my comment was from the proposed list which @generik0 posted (since it isn't implemented), which would leave the new proposed list `net45;netstandard2.0;net5.0`.

Anyway, these comments are old compared to the discussion on the pull request.

[2020-12-08 13:13] ni-mi opened #581 "Mandatory components parameters and components in XML configuration"
Hi,

Consider the following xml:
[code]

I would like it to fail when I try resolve service - since param1 will fail.
I know that by default dependencies are optional, but I can't seem to find a way to make them all mandatory for XML configuration.

How can I do that?

Thanks!

[2020-12-09 06:59] jonorossi commented on #581
Required vs optional aside, I'd have expected if a component was defined that wasn't registered it would throw.

Does Windsor get to this area of the code:

https://github.com/castleproject/Windsor/blob/352fc1fa6956874776a40ebc5ed0ada4a8f63e1a/src/Castle.Windsor/MicroKernel/SubSystems/Conversion/ComponentConverter.cs#L56-L60

Maybe look at putting a unit test together.

[2020-12-09 14:16] generik0 opened #582 "WindsorScopedServiceProvider disposes container"
Disposing the WindsorScopedServiceProvider also disposes container.
The WindsorScopedServiceProvider is disposed when the host is disposed.

Should we:

* Add an option to the Provider Factory that disableds the automatic dispose of the container with the provider
* And/Or, make the disposable virtual to allow an override for the disposing.
* And/Or code comments change
* And/Or docs change

https

[2020-12-09 14:18] generik0 opened #583 "Should thge Asp.Net.x and and AspNetCore Facilites become obsolete?"
Should thge Asp.Net.x and and AspNetCore Facilites become obsolete now that the Castle.Windsor.Extensions.DependencyInjection is created supporting aspnectcore and generic host 2.2?

Or is it important that Asp.Net and AspNetCore 2 uses can get bug fixes and improvements?

[2020-12-10 04:34] #564 closed

[2020-12-10 04:43] jonorossi commented on #582
Looking at the docs it doesn't even mention providing your own container, probably needs some more info (anyone feel free to jump in to make some doc improvements):
https://github.com/castleproject/Windsor/blob/master/docs/net-dependency-extension.md

Looking at how you can use `WindsorServiceProviderFactory` with different constructors, would it make sense for the factory to dispose the container

[2020-12-10 04:46] jonorossi commented on #583
You'll need to be more specific about what you want to deprecate/remove, here is the list:

- System Web Facility - Provides System.Web integration for web projects using PerWebRequest lifestyles.
- ASP.NET MVC Facility - Provides ASP.NET MVC integration for web projects using Windsor.
- ASP.NET WebApi Facility - Provides ASP.NET Web API integration for web projects using Windsor.
- ASP.NET Core 2

[2020-12-10 06:19] generik0 commented on #582
I agree

[2020-12-10 07:57] generik0 commented on #583
This is a question more than a "want".
However, these facilities could be candidates (thanks for the link)

- WCF Integration Facility (Only WCF Client is supported in nectore)
- ASP.NET MVC Facility (MS last update for ASP:Net was 29/11/2018, replaced by netcore)
- ASP.NET WebApi Facility (MS last update for ASP:Net was 29/11/2018, replaced by netcore)
- ASP.NET Core Facility (Replaced by Extensi

[2020-12-10 08:00] generik0 commented on #582
I will have a look. I guess this would be equivalent to the castle facility Release()

[2020-12-11 18:00] bawojtowi opened #584 "Should resolve registered implementations by provided arguments"
If I register two or more implementations of the same interface I expect the container to resolve either matching them by provided argument for the constructors. Currently it only matches the types by interface ignoring the arguments provided. Consider the example below demonstrating the problem.

[code]

[2020-12-14 07:42] jonorossi commented on #583
In the past I've moved deprecated facilities into a Git repo in our `castleproject-deprecated` GitHub org:

https://github.com/castleproject-deprecated/Castle.Windsor.Facilities

This way it is pretty easy for people to find the most recent code of these facilities and I'll usually still accept/merge minor pull requests (usually to get things building using new tooling) from people, but no package

[2020-12-14 07:45] jonorossi commented on #583
ALL USERS: I need feedback on these facilities, if you use them you'll need to provide some feedback so we know people still want them, otherwise if there are no vocal users we'll move them out of the source tree and stop building them.

[2020-12-15 14:15] generik0 commented on #580
@behrygood1982 It should do if the item is tracked.
Not sure about items resolved via a type factory as they normally need to manually disposed/released

[2020-12-16 05:41] #563 closed

[2020-12-16 08:48] generik0 commented on #584
@bawojtowi you are right. Does your issue look like this [castle-windsor-multiple-implementations-of-interface](https://stackoverflow.com/questions/32457072/castle-windsor-multiple-implementations-of-interface)

dotnetjunky does not recommend this architecture, and instead use a handler [meanwhile-on-the-command-side-of-my-architecture](https://blogs.cuttingedge.it/steven/posts/2011/meanwhile-on-t

[2020-12-18 07:23] nativenolde commented on #563
Thank you guys for fixing that!

[2020-12-18 13:33] torbjorn-hansson-stratsys opened #585 "ILazyComponentLoader not working when using ResolveAll"
I'm currently having issues working with `ILazyComponentLoader` where I want to resolve all implementations of an interface. In that case my LazyComponentLoader isn't triggered. Is this by design or a bug? Is there a workaroud for this?

Example code:

[code]

[2020-12-18 13:56] dpadmja opened #586 "How to upgrade Castle.Windsor 2.5 to 5.1.1 along with Castle.Services.Transaction 2.5"
Our project has been using https://github.com/castleproject-deprecated/Castle.Facilities.NHibernateIntegration-READONLY project for long.
We are trying to upgrade this project with newer version of castle.windsor dll. We are not able to find out the replacements for components like: ISynchronization, IResource, ITransactionManager, transaction.Context, transaction.IsolationMode, transaction.IsAmbi

[2020-12-18 13:59] jonorossi commented on #585
`ILazyComponentLoader` can only return a single `IRegistration`, so I doubt it would be run for `ResolveAll`. It is acceptable for `ResolveAll` to return no components, where as you'll get a component not found exception if `Resolve` can't find a component.

Is there a reason you can't register all the services and use a different extension point like a handler selector to pick the relevant compon

[2020-12-18 14:15] jonorossi commented on #586
You are using a library that hasn't been modified in nearly 10 years, looks like you haven't got a reference to Castle Transactions. There are no replacements for those things, both libraries are just deprecated because no one wanted to maintain it.

- https://github.com/castleproject-deprecated/Transactions
- https://github.com/castleproject-deprecated/Castle.Windsor.Facilities/tree/master/src

[2020-12-18 14:19] torbjorn-hansson-stratsys commented on #585
Just realize it's not possible for the current interface but I would have hoped there would be another way to lazy register-multiple services.

[2020-12-20 20:32] fancycoconut opened #587 "Question: Is Castle Windsor still going to be maintained?"
Hi,
Just a quick question as the title says: Is this project still going to be actively maintained?

[2020-12-20 23:04] Servox3 commented on #587
Lately, voluntary (as allways) developers have worked quite a bit on lifting the software:
[https://github.com/castleproject/Windsor/pulse/monthly](url)

[2020-12-21 02:25] jonorossi commented on #587
As @Servox3 mentioned, there has been quite a bit of activity over the last few months with our last release less than 2 weeks ago.

People scratch their own itch, if something doesn't work for you or you'd like something to be better for your use case, please contribute; even a unit test for a scenario or documentation updates helps everyone. There is obviously no vendor here giving you 10 years

[2020-12-21 02:25] #587 closed

[2020-12-25 06:31] eversoutheast opened #588 "Generic issue for TypedFactoryFacility"
`
using Castle.MicroKernel.Registration;
using Castle.Windsor;
using Castle.Facilities.TypedFactory;
using Castle.MicroKernel.Lifestyle;

namespace HelloIoC
{
    public interface IData
    {

    }

    public interface IApiData : IData
    {

    }

    public interface IUiData : IData
    {

    }

    public interface IOperations<TData> where TData : IData
    {

    }

    public interface IA

[2021-01-13 22:01] jberezanski commented on #583
In my company, we are rather extensively using the WCF Integration Facility in our main product (both on service side and on client side). The product is based on .NET Framework 4.x and will eventually be replaced with a .NET Core-based successor (using completely different communication technologies), but not for at least a couple of years. The current feature set of the facility is sufficient fo

[2021-01-24 16:54] Daramant commented on #26
I solved this problem by adding custom dependency resolver.
The idea is to check undelying type T (of Lazy\<T\>) in CanResolve() method and original type Lazy\<T\> in Resolve() method.
It solve problem of "potentially misconfigured components".
<details>
<summary>LazyComponentLoadingDependencyResolver.cs</summary>
<pre><code class='language-cs'>

using Castle.Core;
using Castle.Core.Internal;
usin

[2021-01-28 09:45] feigaogit opened #590 "Castle.Windsor is extremelly slow at resolving dependencies and also really hard？"
#https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5604
Is there a solution to this problem？
![image](https://user-images.githubusercontent.com/18181270/106120089-e6c83f00-6190-11eb-8db0-b5837e90d4f6.png)

[2021-01-28 11:37] jonorossi commented on #590
@feigaogit news to me. An application where 75% of the time is spent in Windsor is definitely not normal.

A quick look over that issue talks about doing benchmarks with dotTrace or VS's tracing tools, which both significantly slow things down when any code generation of dynamic assemblies is involved (i.e. interception with DynamicProxy) because new assemblies are loaded into/modified in the runt

[2021-01-28 11:37] #590 closed

[2021-01-31 21:35] rvdginste opened #591 "Ext.DI: dependencies of component with lifestyle pooled disposed too early"
We use Castle Windsor as a DI container in a .NET Core 3.1 project. In the project, we have a component A with lifestyle pooled (it is actually a httpclient). This component is dynamically resolved using a `TypedFactory` F with lifestyle transient. The component with lifestyle pooled has a dependency on component B with lifestyle transient.
I would expect that as long as an instance A is alive, it

[2021-02-01 17:46] stylefish commented on #563
@jonorossi would it be possible to release a new nuget version for this? if i'm correct the latest release is 5.1.1 released on dec 8, but this fix was merged on dec 16.
thanks :)

[2021-02-18 14:29] twenzel commented on #580
In my experience the services with transient lifecyle (original `LifestyleTransient`, not `LifestyleNetTransient`) won't be released when created via `scope.ServiceProvider.GetService(serviceType)`.
Unfortunately it only works when using `LifestyleNetTransient`.

[2021-02-18 14:53] generik0 commented on #580
This is ofcause unless you use the controllers as service setup. You can see it in the md

[2021-02-26 23:08] Certegy opened #592 ".NET 5 very slow registration"
I'm working on porting a .NET 4.8 project over to .NET 5
The existing code base has been using Windsor Castle so to keep some of the features we like (manual release for example) we want to keep using it.

Only I am hitting some pretty big startup times during the registration period.  From the performance tracing I have done it appears the bottle neck is in the Castle.Windsor.Extensions.Dependenc

[2021-02-26 23:26] #592 closed

[2021-03-12 11:33] astuy opened #593 "ASP .NET Core app does not work `ServerPrerendered`"
Hi all,

I am using Blazorise for a Blazor Server project. They currently updated to .NET 5.0 in order to use `IComponentActivator` for creating IComponents through DI and since then I get an `ObjectDisposedException` on page load. Setting render mode to `Server` works around the bug, but then my site takes hours to be presented to the user.

See also my [Blazorise Issue](https://github.com/stsrki

[2021-04-05 13:28] EricMKaufman opened #595 "Castle.Windsor.Extensions.DependencyInjection No Scope Available"
I am using this nuget package to configure Castle Windsor as the DI container. https://www.nuget.org/packages/Castle.Windsor.Extensions.DependencyInjection/

This works fine except for when I try to resolve classes with an IHttpHandler. I get the error: InvalidOperationException: No scope available

What is the correct way to create scope for an HttpHandler?

Here's a sample application reproducin

[2021-04-06 15:23] EricMKaufman commented on #595
I was able to come up with a work around, but I think it's a bit of a hack and I'm unsure how it will effect releasing scoped resources.

[code]

[2021-04-20 20:21] twenzel opened #596 "No Scope available on non-versioned controllers"
Given:
ASP.NET Core 5 API App using Windsor

When using Microsoft API versioning (Startup.cs line 29) the controller is only working when the request is using the versioned url "/api/v1/weatherforecast". When using the non-versioned url "/weatherforecast" services resolved inplace creates a InvalidOperationException "No Scope available"

This was working with ASP.NET Core 2.2.

[AspCoreVersionedAp

[2021-05-19 16:19] sqeezy opened #598 "Double generic service where one generic parameter is generic itself and has type constraints"
Today I stumbled over this issue in a day job project. I`m not sure whether I miss something obvious.
The resolve seems to misinterpret the origin of the generic type constraint. I would be happy to help solve this issue, but I would need a bit of finger pointing.

[code]

The test fails with:

[code]

[2021-06-13 13:03] rvdginste commented on #598
I didn't test your code, and I don't know whether this could work for you... but would this issue be resolved by introducing a generic `IFoo<T>` interface as follows?
[code]
And the registration code based on `IFoo<T>`
[code]
If you introduce that interface,every possible resolve for that interface with one generic parameter can be satisfied with the given registration. I think your current regist

[2021-06-13 13:13] rvdginste commented on #598
Otherwise, you might check `IGenericImplementationMatchingStrategy` and `IGenericServiceStrategy`.

[2021-06-16 14:20] awigglesworth opened #599 "Missing MethodException when using UsingFactoryMethod"
Hi There,

We are in the process of updating our Castle versions to the latest (upgrading from version 3.4). We found that when we run the code, we get a MissingMethod Exception thrown when registering a container.

Here's the code snippet:

        public void Install(IWindsorContainer container, IConfigurationStore store)
        {
            container.Install(
                new CommonCliDepe

[2021-06-16 14:37] jonorossi commented on #599
Sounds like you haven't recompiled against the newer version of Windsor. The method signature of `UsingFactoryMethod` changed in v4.0:

[code]

[2021-06-16 16:22] awigglesworth commented on #599
You can close this problem, it was caused by a reference in one of our dependent projects not being updated.  Thanks for the hint jonorossi!

[2021-06-16 16:22] #599 closed

[2021-07-15 15:09] astuy commented on #593
Today I had some time to dig around in Castle Windsor and found, that during the final render the scope is already disposed, from where Blazorize components are tried to be created, though the Service Provider is still alive.

That's because Blazorize ComponentActivator is registered as Singleton, while Castle Windsor registers a ScopedServiceProvider as Scoped. If I match them, it works (no matte

[2021-07-16 00:17] jonorossi commented on #593
@astuy Unfortunately no one is maintaining the .NET DependencyInjection support in Castle Windsor. I don't have in depth knowledge of how or why it works/doesn't work. It looks like it is built against 3.1.3 which likely predates most recent Blazor work. There are a few other open issues that people have run into problems (e.g. a InvalidOperationException) with this integration library as it is pr

[2021-07-23 06:52] ltines commented on #595
I think this has been fixed as `CreateRootScope` is called in `WindsorServiceProviderFactory` constructor.

I think the cleanest way to it though is:
* make `host` static variable
* access services via `host.Services`
[code]

[2021-07-23 07:21] ltines commented on #582
I think there should be a flag in `WindsorScopedServiceProvider` whether it should dispose the container or not. Just not sure where is the best place to put it.

My ideas:
* static prop on `WindsorServiceProviderFactoryBase` - but that feels bit meh
* prop on `WindsorServiceProviderFactoryBase` and resolve it on dispose (its singleton) - i am not sure whether you can resolve in dispose
* prop on

[2021-07-23 07:26] ltines commented on #593
There are multiple instances of Service Provider - per scope. There is also one for the "root scope". How are you accessing it in your project?

I am not that familiar with Blazorise though

[2021-07-23 07:52] ltines commented on #591
@rvdginste thanks for the unit test. From the tests this is not related to integration with `ServiceCollection` as it failes even if you use just container without any of the service provider stuff

I don't think this is true for Transient lifestyles. @jonorossi any thoughts?

[2021-07-23 08:55] generik0 commented on #582
Good idea, add some options :-)

[2021-07-23 14:19] ltines commented on #582
Another idea @generik0: make `WindsorServiceProviderFactoryBase` implement `IDisposable` and dispose `IWindsorContainer` when that gets disposed. It creates bit of a circle (`WindsorServiceProviderFactoryBase` is disposed when container gets disposed - its singleton - and container gets disposed when `WindsorServiceProviderFactoryBase` is disposed)

At least we'll remove code in `WindsorScopedServ

[2021-07-23 14:47] ltines commented on #596
HI @twenzel
preferred way to resolve in your code is to use `IServiceProvider` not container directly. Especially with scoped services. ASP.NET runtime contols the lifetime of the scope.

For your code:
[code]

[2021-07-27 11:17] astuy commented on #593
The Service Provider is used by ComponentActivator (see https://github.com/Megabit/Blazorise/blob/master/Source/Blazorise/ComponentActivator.cs and https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/#control-blazor-component-instantiation. Unfortunately this is all of component activator documentation, that I'm aware of.

Is that, what you wanted to know?

[2021-08-05 14:37] Crabzmatic opened #600 "Dispose is called twice when using UsingFactoryMethod with LifestyleTransient"
Windsor 5.1.1

Here is a short reproducer for this problem I'm encountering. `MyComponent.Dispose()` is called twice. It shouldn't be called twice, it should be called once. When not specifying `MyService` lifestyle, `MyComponent.Dispose()` is called only once, as expected.

[code]

[2021-08-11 13:05] smedotnet opened #601 "Write in different files with Log4Net CastleWindsor for different CastleWindsor instances"
I don't know if it's the correct place to ask this question. But i have in my project two different instances of CastleWindsor. One for my web application and one for Hangfire (background job processing).

I'm using for these two instances, Log4Net as logger. But what is happenning is that the loggers write in the same file, so i would like to log in different files depending on the Castle Windsor

[2021-08-11 14:11] smedotnet commented on #601
Sorry, i should have posted more about that. Acutally i'm using two separate logs: <root /> and one for Hangfire using the hangfire appender :
`<root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="Console" />
    </root>
    <logger additivity="false" name="Hangfire">
      <level value="INFO" />
      <appender-ref ref="HangfireLoggerAppender" />

[2021-08-11 14:45] jonorossi commented on #601
Correct, you can only register the facility once per container.

Also `f.LogUsing<ILoggerFactory>` is incorrect. I had `TLoggerFactory` as I just copied the method signature. We've deprecated `UseLog4Net()` as it just uses reflection to create `Log4netFactory`. It still works, but should instead use `f.LogUsing<Log4netFactory>`.

[2021-08-12 07:08] #601 closed

[2021-08-19 15:08] vengefire opened #602 "Registering components using convention doesn't seem to promote components to proxied when adding interceptors"
I am trying to add registrations via convention as per the following:
[code]

The service-impl pairs are being registered and injected correctly, however the services are not proxied and obviously the interceptor isn't called.

If I change this to an explicit registration specifying the types involved, then the proxy and interceptor functions as expected.

I'd be very happy if I was just too tired

[2021-09-15 13:07] rezajp opened #603 ".netstandard compatibility release"
Hi all, not sure if I can ask this on here. I wanted to understand when the changes for .net standard compatibility are going to be released. I can see there is a milestone completed 9 months ago but I couldn't find more information.

[2021-10-12 12:53] FrancescoBonizzi opened #604 "The assembly 'Castle.Windsor [...] is not registered for COM Interop"
Hi! I have a .NET library with `Register for COM interop`_attribute set to true, and `COM visibile` too in `csproj`. This library references Castle.Windsor 5.1.1 on .NET Framework 4.8, and when I build, I get this compiler error:

`The assembly 'Castle.Windsor, Version=5.0.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' is not registered for COM Interop. Please register it with regasm.exe /

[2021-11-17 21:30] lars-hakansson commented on #586
@jonorossi I thought this is a replacement for Castle Transactions. The solution I am upgrading depends heavily on TransactionAttribute from Castle Transactions and my gameplan is to remove Castle Transactions and add this instead! Wrong? Switch one attribute with another..

[2022-01-04 09:30] DamienLaw opened #605 "Castle.Windsor.Extensions.DependencyInjection - Existing Container is cleared of all registrations"
[code]

This happens right after a subsystem is added to the container

https://github.com/castleproject/Windsor/blob/28e7afaf04462d74d6ad05505dc426b81cf5d9a3/src/Castle.Windsor.Extensions.DependencyInjection/WindsorServiceProviderFactoryBase.cs#L61-L67

Is this by design? Is there no way I could use the existing registrations prior to ` .UseWindsorContainerServiceProvider(container)`?

[2022-01-11 09:46] Jevonius commented on #224
@jonorossi - this behaviour (issue? bug?) is still a thing, and means we've had to hold onto an ancient version of Moq in our codebase (easier than updating a lot of usages!). Is it ever likely to be resolved? I'm happy to try and pull together a PR, but as above I'm still ignorant of what the right change is - any guidance welcome :)

[2022-01-11 12:41] jonorossi commented on #604
Looks like it was broken when Windsor was moved to the .NET SDK project format and so the assembly is defaulting to COM visible.

`CommonAssemblyInfo.cs` doesn't have `[assembly: ComVisible(false)]` like Castle Core. `ComVisible(false)` used to be set via the MSBuild build scripts before the move.

[2022-01-11 12:50] jonorossi commented on #224
@Jevonius sorry no idea. I'm not working on Windsor so don't have time to investigate. There is no current maintainer.

If you put forward a pull request with unit tests the barrier to getting it merged is low.

[2022-01-11 16:40] Jevonius commented on #224
👍 Will try and find time to do some spelunking, see if I can get my head around it all.

[2022-02-09 10:32] sianabanana opened #607 "ASP.NET Core 6: WebApplicationBuilder Example?"
Are there any examples of how to use Castle Windsor with the new .net 6 Core minimal style

This site has a autofac example
[https://andrewlock.net/exploring-dotnet-6-part-10-new-dependency-injection-features-in-dotnet-6/]
[code]

Is there a simmilar example for castle? i cant find a castle service provider factory for example.

Previously i was using the  Castle.Windsor.MsDependencyInjection in .

[2022-02-10 00:38] BobbyMorris opened #608 "Unclear resolution mechanics - singleton Func<IService> dependency with factory method resolver for a transient IService appears to share instances when the func is invoked"
I don't know if this is an issue but can someone explain what's going on here? There's a transient IDependent taking a Func<IDependency> dependency. The Func<IDependency> resolves the IDependency off the kernel via a factory method. There are singleton and transient components for Func<IDependency> registered.

I would expect two transient IDependents (named TransientFunctionallyDependent_Singleto

[2022-02-10 00:43] BobbyMorris commented on #608
I just modified that script. So, since the transients have a singleton dependency they are also made singleton? I'll update the initial post.

[2022-02-10 00:57] BobbyMorris commented on #608
I forgot to set the lifestyle so the "transient" with the singleton dependency is actually singleton. Nevermind, closing.

[2022-02-10 00:57] #608 closed

[2022-03-04 10:46] StefanoVuerich commented on #596
Hi Guys,

I'm experiencing the same issue. I have a POST request, then my code calls **Container.BeginScope()**.
The scope seems to be ok, as I don't receive any exception.
When I try to resolve a scoped service I get error 'System.InvalidOperationException: 'No scope available'
'.

Do you have any suggestion?

Best regards

[2022-03-04 18:16] ltines commented on #596
@StefanoVuerich ,

i am wondering why do you need to manually call `Container.BeginScope()`? The pipeline should start scope via `CreateScope` automatically

[2022-03-07 07:58] StefanoVuerich commented on #596
@ltines ,

our old implementation was calling `Container.Beginscope()` to be able to resolve scoped services.

What is the piece of the pipeline you are referring when you say 'The pipeline should start scope via CreateScope automatically' ?

[2022-03-14 06:31] smedotnet opened #609 "Castle Windsor resolving more dependencies than it releases with SignalR Activator"
Hi,

I don't know if my analyse is correct or not. But i'm facing some memory leak with castle and SignalR. It's a well known "issue" for Transient registered components see for example (https://stackoverflow.com/questions/34395834/signalr-server-memory-consumption-windsor-ihubactivator-to-blame / https://github.com/SignalR/SignalR/issues/3208 and a lot of others).

I'm using this SignalR activato

[2022-03-14 07:06] #609 closed

[2022-03-14 07:08] smedotnet commented on #609
The problem wasn't Castle Windsor. The problem was that i was registering the dependencies of my Hub using HybridPerWebRequestTransient. Which is not totally the same as registering them as Transient.

[2022-04-26 09:15] generik0 commented on #607
Yes, MS are irritating, changing this all the time. I will try to fix this up ASAP

[2022-04-26 09:19] sianmace commented on #607
Yes, sorry for not replying but i eventually found the solution.
As you say

`builder.Host.UseServiceProviderFactory(new WindsorServiceProviderFactory());`

then i do

[code]

etc.

Thanks for getting back to me

[2022-04-26 09:19] sianmace commented on #607
It would probs be useful to add an example to the library to save other peoples pain.

[2022-05-12 16:44] Jevonius opened #612 "Updating Windsor to support Castle.Core@5.0.0 and modern TFMs"
With the release of Castle.Core@5.0.0, Windsor needs updating to support it as there are breaking changes (some detail in #610). 5.0.0 also has an updated list of TFMs:
[code]

The current targets for Windsor are:
[code]

Having not done much with the Windsor codebase, is it insane to suggest aligning with the Core TFM list, where reasonable? Does targeting `net6.0` even make sense for Windsor? At

[2022-05-14 12:24] jonorossi commented on #612
Haha, I just finished reviewing your PR and asked the same question. Happy for it to be a 2 stage process. At this point I don't see much point adding more support for .NET Standard if no one has a reason for it, adding .NET6 is probably the way to go moving forward if .NET Standard is taking a back seat.

Best to keep this issue to the one topic, it allows people following the repo to track chang

[2022-05-17 11:28] jonorossi opened #614 "Release 5.1.2"
Patch release to fix NuGet prompting to upgrade to Castle.Core 5.0.0.

* #610

[2022-05-17 11:42] jonorossi commented on #614
- Tagged [`v5.1.2`](https://github.com/castleproject/Windsor/releases/tag/v5.1.2)
- Confirmed successfully pushed to nuget.org

Thanks @Jevonius

[2022-05-17 11:42] #614 closed

[2022-05-30 08:53] Jevonius opened #616 "Deleting obsolete `Castle.Facilities.Logging` code, handling `FacilityConfig`"
While looking at adding `net6.0` as a target, I took a look at `Castle.Facilities.Logging` (there is a reference to `DiagnosticsLoggerFactory` which theoretically can work under `net6.0-win` but not with the way the code is currently structured). I noticed how much is `obsolete` in this project, since 2017, so took a look at removing code.

I'm struggling with how to handle `ReadLoggingApi`:
https

[2022-06-10 06:27] rsr-maersk commented on #612
Any luck here with a new build here. Latest Moq gives:
![image](https://user-images.githubusercontent.com/76153851/173004238-d9af25b9-51d9-4d3d-aaaa-5d5a6a625ab5.png)
on integration tests with:
`_container = new WindsorContainer();`

[2022-07-13 19:38] tasoss commented on #612
Is there any way to help with this one? @Jevonius

[2022-07-16 06:35] stakx commented on #612
@Jevonius, I've only really done work on DynamicProxy; I hardly know Windsor at all. So I'm afraid I'm not in the best position to help out here. That being said, I csn probably take an hour or two to review any PRs if that would be helpful at all.

[2022-07-16 15:45] tasoss commented on #612
Ok, so only @jonorossi could help...
Waiting for news from him.

[2022-07-17 14:03] jonorossi commented on #612
@Jevonius I coded reviewed the pull request the day after you created it, it looks like you made further commits afterwards and further comments with the last one starting "Haven't had a chance to get back into the code for this". I assume it's ready to re-review and merge?

[2022-07-19 08:58] Jevonius commented on #612
@jonorossi apologies, I did push some further commits, but didn't comment in that thread so hadn't twigged you wouldn't magically see that it was ready to go 😆 I did request another review later on, but that might have slipped through the cracks.

So, #613 is ready to review, I'll make a comment there to be clearer.

I'm doing the `net6.0` changes separately, if you have any thoughts on #616 that

[2022-07-19 09:03] Jevonius commented on #612
@tasoss - coincidentally I was cleaning up some [very] old tabs/windows the other day and one of them was https://github.com/NancyFx/Nancy.Bootstrappers.Windsor/issues/57 - I'd been having the same issue. Small world 😄

[2022-07-19 09:15] #612 closed

[2022-07-19 12:46] tasoss commented on #612
@Jevonius @jonorossi thanks for closing this issue.
@Jevonius  hahahahahaha.Indeed!

[2022-07-19 15:15] sirosimo opened #619 "Error when loading external assemblies"
Working on an app migration form .Net Framework 4.8 to .Net 6, I'm facing an issue when trying to registered external assemblies from a certain folder.

[code]

Here is an example project that highlight the issue: [https://github.com/sirosimo/CastleSandBox.git](https://github.com/sirosimo/CastleSandBox.git)

The external assemblies and classes implementing IPersonBase aren't referenced in the main

[2022-07-26 10:39] ZLVincent opened #620 "How do I delete an instance"
I created multiple instances and registered them into the container, like this:

`IocContainer.Register(Component.For<IEventHandler<TEventData>>().Named(actionName).Instance(actionHandler));`

And then I want to delete an instance，What should I do?

[2022-07-29 17:14] tasoss commented on #612
What are we waiting for v6.0.0 ?
Aren't #611 and #604 fixed already? @jonorossi

[2022-08-02 04:09] #604 closed

[2022-08-02 04:19] jonorossi opened #621 "Release 6.0.0"
* [x] #615
* [x] #642
* [x] #633
* [x] #634
* [x] #635
* [x] #636

[2022-08-04 08:08] renemadsen commented on #621
Really looking forward to this release.

[2022-08-04 15:17] Jevonius commented on #621
I'd like to add `net6.0` as a target (which I think is the last bit of updating to new Castle Core)? This is currently marred in a fight with some obsolete code (see #616). I haven't had a chance to get my teeth back into this, I'm wondering if there's a way to rip out the references to `DiagnosticsLoggerFactory` which ought to allow for `net6.0` as a target without getting rid of the obsolete cod

[2022-08-04 19:34] Jevonius commented on #619
Hey @sirosimo, sounds like a variant of https://github.com/dotnet/runtime/issues/13511 - it appears to be a .Net Core issue rather than .Net 6 specifically from some brief Linqpad testing.

There might be some work to be done around `FEATURE_ASSEMBLIES`:

For the .net standard build (which your .net 6 target will be using), `FEATURE_ASSEMBLIES` isn't set, but it seems for .net Core/5/6 it perhaps

[2022-08-04 19:40] Jevonius commented on #619
A simpler version of your fix might be to modify the existing `LoadAssembly` method:
[code]
Becomes something like:
[code]

There might be a similar issue with the method `public static Assembly GetAssemblyNamed(string assemblyName)` - looking at it, this is doing some form of detection for DLLs in the same folder as `AppContext.BaseDirectory` but that might need checking. There's two different co

[2022-08-05 15:52] haldiggs commented on #612
upgraded to Castle.Core 5.0.0, Castle.Windsor 5.1.1 and getting the Could not load type 'Castle.Core.Internal.PermissionUtil' error seen by so many. Cannot upgrade Castle.Windsor 5.1.2 where they say this might be fixed because the requirement says Castle.Core < 5.0.0 ... I guess all I can do is downgrade and wait for 6.0

[2022-08-05 16:57] Jevonius opened #622 "Review of `FEATURE_ASSEMBLIES` and `ReflectionUtil`"
**tl;dr;**
I think there are some issues with how `ReflectionUtil` is currently behaving, having investigated #619. I'm digging into/learning the differences between Assembly handling for Framework/Standard/Core with respect to this functionality to understand it better. If anyone has experience with this area of the code please shout!

**long version**
After digging into #619, I've been trying to

[2022-08-12 14:05] WenningQiu opened #623 "New Castle.Windsor package that is compatible with Castle.Core 5.*"
The latest Castle.Windsor package (5.1.2) appears to be outdated w.r.t consuming the latest Castle.Core. Should a new version be released?

![image](https://user-images.githubusercontent.com/4291622/184369778-aa7c25fc-e2c7-40ab-b6f8-7088813eecf5.png)

[2022-08-12 14:26] jonorossi commented on #623
What installed Castle Core 5.1.0? We added the constraint in Windsor 5.1.2 (#614) because it isn't compatible.

We are planning a new release, but NuGet should handle the dependency constraint so you can use the most recent compatible version.

[2022-08-12 14:26] #623 closed

[2022-08-14 10:47] jonorossi commented on #612
@haldiggs Why is NuGet letting you install incompatible versions?

[2022-08-14 10:49] jonorossi commented on #612
@haldiggs This is exactly why we released 5.1.2. NuGet doesn't care about a major version change and just assumes it'll be compatible. Yes, you'll need to use Castle Core < 5.0.0.

[2022-08-17 06:03] sqeezy commented on #598
Thank you for your hint. On the face of it this solves all my issues.

[2022-08-17 06:03] #598 closed

[2022-08-17 06:04] sqeezy commented on #621
Will #618 be included in this release?

[2022-09-01 03:28] ganjeii commented on #214
@jonorossi seriously dude... grow a pair.

[2022-09-01 09:52] ikkentim opened #624 "Make Castle.Windsor.Extensions.DependencyInjection depend on abstractions"
`Castle.Windsor.Extensions.DependencyInjection` currently depends on the implementations of the hosting and logging extensions. It would be nice if it could depend on the abstractions instead.

[code]

[2022-09-01 09:54] ikkentim commented on #624
I also don't see why it has a dependency for `Microsoft.Extensions.Logging` in the first place, it doesn't even use it.

[2022-09-01 10:01] ikkentim opened #625 "Split hosting extensions from Castle.Windsor.Extensions.DependencyInjection into separate package"
`Castle.Windsor.Extensions.DependencyInjection` contains a dependency to hosting related packages (`Microsoft.Extensions.Hosting`). You however don't always need hosting when using `Microsoft.Extensions.DependencyInjection.Abstractions`. It would be great if the hosting related functions could be split off into a `Castle.Windsor.Extensions.Hosting` package.

For example, I'm working on implementin

[2022-09-01 10:18] jonorossi commented on #624
I asked the same question when this was contributed by a previous contributor and was told it had to work that way. Gladly accept the change.

[2022-09-01 10:21] jonorossi commented on #625
Do you know how much code uses the Hosting package? I always wondered if it was just a little bit of code that could be provided as an example.

[2022-09-01 10:23] ikkentim commented on #624
I've attached a pull request for this change.

[2022-09-01 10:28] ikkentim commented on #625
As far as I can see only this code:
https://github.com/castleproject/Windsor/blob/master/src/Castle.Windsor.Extensions.DependencyInjection/Extensions/HostBuilderExtensions.cs

These are nice to have extension methods for easily configuring Windsor on a HostBuilder.

[2022-09-01 11:28] #624 closed

[2022-09-01 11:33] jonorossi commented on #625
Looks like Autofac has a separate package for it. We'd keep it in the same repo here.

https://github.com/autofac/Autofac.Extensions.Hosting

[2022-09-01 11:34] jonorossi commented on #625
v6.0 has not yet been released if you wanted to get the change in before it goes out.

[2022-09-05 20:36] MestreDosMagros opened #627 "Dependency injection extension register services in container and use as default"
Hello, I'm working on legacy code that uses both Windsor container as well as native ServiceCollection on WebApi project, the problem is that there are projects that use Windsor as DI resolver, and others that use the native ServiceCollection from .net core.

I [found](https://github.com/castleproject/Windsor/blob/master/docs/net-dependency-extension.md) that i could reuse the registrations made o

[2022-09-07 10:36] ikkentim commented on #625
I'll see if I can get create a PR for this next week

[2022-09-15 18:36] ikkentim commented on #625
I've created a PR for this.

[2022-09-22 14:29] Jevonius commented on #621
I'm going to have some time to look into this again next week and it would be great to the point where a beta is available (full release might be pushing it in a week!). @jonorossi do you have any more thoughts on what should be in this release? I'm still not sure how to resolve #616 and thus get `.net6` support fully working (will come at it with fresh eyes and give it some more thought), but are

[2022-09-22 19:03] tasoss commented on #621
@Jevonius  thank you for still caring

[2022-09-28 22:19] tasoss commented on #621
@jonorossi are u there man?

[2022-09-29 11:57] jonorossi commented on #616
The `LoggerImplementation` enum was marked obsolete to push people to use `LogUsing<T>()` rather than loggers being hardcoded in the library.

Without digging into the code and trying to replicate the same change I don't follow what the problems you are facing. Could you summarise your findings and what's a blocker?

[2022-09-29 11:58] jonorossi commented on #621
@tasoss yes

[2022-09-29 12:10] #625 closed

[2022-09-29 12:11] jonorossi commented on #625
Thanks @ikkentim, sorry for the silence.

[2022-09-29 13:40] cervengoc opened #629 "Constructor selection fails when using interception in one of the dependency graph"
Hi,

We'd like to ask for your help with the following issue.

- Given a top-level service class `TopLevelService` having 2 dependencies
  - Required `TopLevelServiceOptions`
  - Optional `IDependencyServiceIntercepted`, implemented using constructor overloading
- Given that `IDependencyServiceIntercepted` is intercepted using an interceptor
  - This is set up using a `IContributeComponentModelCon

[2022-10-02 12:15] jonorossi commented on #629
A quick look at the code and I'd have thought it would work. The [`InterceptorInspector`](https://github.com/castleproject/Windsor/blob/master/src/Castle.Windsor/MicroKernel/ModelBuilder/Inspectors/InterceptorInspector.cs) which converts `InterceptorAttribute` attributes uses `IContributeComponentModelConstruction`.

Does it work if you change the `InterceptorReference` to use the component type?

[2022-10-03 07:53] cervengoc commented on #629
Hi @jonorossi ,

Thank you for your quick reply. First of all, sorry for the quality of the sample project, I've just now noticed that it doesn't even build, some refactoring has failed and also it was cut out from a solution where central package management was used.

Using the concrete type in the interceptor reference solves the issue, thank you.

[2022-10-03 12:34] Katelynch20 commented on #621
Hello! in Content Cloud we have this https://jira.sso.episerver.net/browse/CMS-23829 we would like to achieve that has dependencies on this package. are we good to do this now? if someone could review would be greatly appreciated :)

[2022-10-04 10:58] Jevonius commented on #616
The difficulty is in the part around reading `FacilityConfig`; I haven't really used this, so I'm not sure the use cases for it and whether it still needs to be supported, or to what level.
The code above is using the `loggingApi` configuration attribute to work out which `LoggerImplementation` to return, but that enum is marked obsolete.

My proposal, having had another read through the code, is

[2022-10-04 11:28] Jevonius opened #631 "Review of potentially obsolete conditional compilation symbols"
The move from `netstandard1.6` to `netstandard2.0` has made some of the conditional compilation symbols obsolete. Using this issue as a place to track reviewing them. Depending on what fixes are needed, it might be that previously unavailable functionality can just be enabled for `netstandard2.0`/`net6.0`, or alternatively the functionality could be pulled out into extension nuget packages and lef

[2022-10-04 11:29] Jevonius commented on #621
Should #631 be added to the list too ? Some of the changes _could_ be breaking (e.g. pulling functionality out into an optional NuGet package rather than having it baked in).

[2022-10-05 09:45] Jevonius commented on #631
A few of these could be removed by using built-in symbols (such as `NETFRAMEWORK`) instead of defining custom symbols (`FEATURE_CODEDOM` and `FEATURE_THREADABORT`, potentially others).

Is there a preference one way or the other? Personal preference would be to use built-in where possible.

[2022-10-05 22:49] Jevonius commented on #621
#616 is resolved by #636. This also tackles a couple of the tasks in #631. Going to switch over to #622 and come back to the compilation symbols once a few PRs have been merged down.

[2022-10-11 08:44] OIIvIIO opened #637 "Can't use <install directory=""> from XML file to register a class."
Hi,

I want to load a DLL from different paths from executing directory and resolve from this DLL. But Castle.Windsor throw this exception
[code]

It is XML config file:
[code]
It's main method
[code]
Class and interface are as follows：
[code]
[code]
When I moved Engine.dll to the same folder as Reflection.exe , it can be work and not throw exception.

[2022-10-20 13:29] ClumsyPenguin opened #638 "OWIN Self-hosted mode perwebrequest lifecycle"
Hi, i am using windsor for resolving my dependencies, but i am now trying to run a web api in a console using OWIN in self-hosted mode.

Startup.cs in self-hosted solution
[code]

in the startup.cs we set up the container and tell it use webapi.

Program.cs
[code]
in program.cs we spin it up in self-hosted mode. as documented here: https://learn.microsoft.com/en-us/aspnet/web-api/overview/hosting-

[2022-11-10 15:04] ikkentim opened #639 "WindsorScopedServiceProvider remains in scope captured at resolve-time (Scope cache was already disposed)"
When a `WindsorScopedServiceProvider` is created it captures the scope. This has some odd effects, for example when a `IServiceProvider` is injected into a singleton instance. In this case the captured scope would outlive the lifetime of the scope.

The following sample crashes with the error `System.ObjectDisposedException: Scope cache was already disposed. This is most likely a bug in the callin

[2022-11-10 15:29] ikkentim commented on #605
Maybe this helps: https://github.com/castleproject/Windsor/issues/627#issuecomment-1310461408

[2022-11-10 16:14] MestreDosMagros commented on #627
I figured this out couple hours after this question, I have used this in all my apps that uses Windsor and it is not a web project and it works as expected

[2022-11-10 16:14] #627 closed

[2022-11-16 09:23] jeme commented on #623
Man this is a mess >.<... Hope you manage to get a new Windsor out soon that supports the latest castle core. Considering that there is a strong relation between Castle.Core and Castle.Windsor in people's mind from an external perspective, I can fully understand why this causes confusion. (Although I also fully understand that internally Windsor may introduce breaking changes more often and theref

[2022-11-22 02:20] gurbeers opened #640 "windsor 5.1.2 Lifestyle Prewebrequest"
Hello Team, i recently upgrade by project from VS2013 4.0 to VS2022 4.8
We updated Entity Framework 4.4 to 6
Castle core 3.1 to 5.1.0
Castle windsor 3.1 to  5.1.1
In old version we used
container.register(component.for<IApprovals>.Implementedby<CPRAutomation.domain.concrete.MLIB.Approvals>().Lifestyle.Prewebrequest.Named("ApprovalMappper")));
In new i converted into
container.register(component.fo

[2022-11-23 08:43] ikkentim commented on #640
Castle.Windsor is not currently compatible with Castle.Core 5.x.

[2022-11-29 10:11] renemadsen commented on #640
When do we expect that to happen?

[2022-11-29 11:16] jeme commented on #640
sort of duplicate of: 623 right?

[2022-11-29 23:00] Kermel commented on #621
Hi, may I ask what the "really soon" means in the update to the newest "Castle.Core" mentioned in the post from August?
Unfortunatelly I'm getting into troubles within the sourcecode as some of the used nugets expect me to use the newest Castle.Core with their most current versions but this is not compatible with the Castle.Windsor I'm using as well.

I'm aware that this is a free library to use b

[2022-11-29 23:08] tasoss commented on #621
I have stopped wondering anymore.
Respect yourself , because others won't , and stop wondering too.

[2022-11-29 23:16] Kermel commented on #621
Yep... looks like a dead project.
Unfortunatelly we have quite large codebase depending on it and it's about time to bump the .NET version of our codebase but since the crucial component is not capable of this, it will be really painful :-/

[2022-11-29 23:25] tasoss commented on #621
This is exactly my situation and i totally agree with what you said .
Let's try to enjoy the pain ;)

[2022-11-30 00:06] jonorossi commented on #621
@tasoss @Kermel I not trying to sound rude, but if you want this project to continue you have to get involved, who do you expect to work on it? The status of this library isn't new, I've been saying for years that there is no maintainer for Windsor and that I'm not maintaining it. I've been trying to kick things along every now and again hoping that someone would step up.

Yet another rude message

[2022-11-30 00:24] jonorossi commented on #640
Did you read the changelog for 5.0.0? Listed under `5.0.0-beta001` there is a breaking change for System.Web support.

Why not Windsor 5.1.2, it prevents problems with not supporting Castle Core 5.x?

Why did you change from per web request to singleton? See the [docs](https://github.com/castleproject/Windsor/blob/master/docs/systemweb-facility.md) for using `LifestylePerWebRequest`.

`ApprovalMap

[2022-11-30 00:24] #640 closed

[2022-11-30 00:26] jonorossi commented on #621
@Jevonius can you please rebase your 2 pull requests with merge conflicts and the NUnit one, then once they're merged rebase the logging one.

[2022-11-30 00:32] jonorossi commented on #623
Windsor has been versioned separately to Castle Core for over a decade.

[2022-11-30 00:35] jonorossi commented on #631
Originally I put all these symbols in when we first started with DNX (to become .NET Core 1.0), back then the API surface was very small and constantly changing while in preview. If we can get rid of heaps of these either through not needing them any more or removing the feature, happy for you to use in-built symbols which didn't exist in the original tooling.

[2022-11-30 00:37] #629 closed

[2022-11-30 06:25] renemadsen commented on #621
I'm happy to help out with deciding what needs to be done, so we can move forward and make sure this good project does not die out. Let me know if you @jonorossi want help in this regard.

We use it in all of our projects, so if this dies, we are looking a replacing it with some other code = hughe refactoring of a lot of projects.

[2022-11-30 07:32] jeme commented on #623
I fear that you may have taken this to close at heart, as in understanding " Man this is a mess " to much as targeted at Windsor as in " Man Windsor is a mess ", but that was not the case, it was targeted at the situation you end up in when you combine things. I won't go into a lengthy explanation of that, just understand that it was not meant as attack on the project or it's maintainers, i apolog

[2022-11-30 08:06] jonorossi commented on #623
@jeme no harm, thanks for the explanation. I think I've gotten so used to snarky comments on closed issues over the years I likely read yours with a certain preconceived bias.

It does suck the position things are in now with Windsor partly spread into Castle Core, a lot of history there from 15+ years. Definitely no clean line between the two, means that DynamicProxy isn't an optional feature.

I

[2022-11-30 09:21] renemadsen commented on #621
I've done a fork and removed all code related to older frameworks, so it only supports .net 7.0.
In my humble opinion I would say that is the way to move forward and get rid of a lot of issues, which I see as related to old framworks.

The work can be seen here https://github.com/microting/Windsor I've also released a nuget package working with the latest castle.core for net 7.0 only if anyone is

[2022-11-30 09:33] Kermel commented on #621
@jonorossi Please accept my apologies if my post offended you. I didn't mean to be rude, I'm aware that this is s free library and tha authors (You) work on it in your free time. Unfortunatelly currently I hardly manage all my duties at work (finishing a long-term project and steering work of many dev's around) so I'm afraid I can't contribute much myself.
However I can see other members around ju

[2022-11-30 09:40] renemadsen commented on #621
@Kermel I can do that. I've also added Github build actions including a nuget release part and dependabot. We internally needs to have packages up to date all the time. Our own maintained packages are getting releases multiple times pr month due to upstream dependency updates if that makes sense.

[2022-11-30 09:51] jeme commented on #621
Just trying to get some understanding here. When you say that it doesn't support .NET 6 and .NET 7 - What exactly do you mean by that??

Should it be assumed that your talking about ASP.NET 6 and ASP.NET 7 and that it refers to the facilities that provide integration points for AspNetCore? Or are there other integration points that is broken here? Using it "Raw" in .NET 6/7 doesn't seem to be an i

[2022-11-30 09:57] jonorossi commented on #621
@renemadsen Any reason you wouldn't target .NET 6 (like has been done) rather than .NET 7 since .NET 6 is the LTS release supported until after .NET 7. I'm not saying I'm right, just trying to understand the reason. Could you highlight some of the issues supporting .NET Framework for a bit longer, again not saying it should keep doing that, just want anyone coming later to understand the reason.

[2022-11-30 10:17] renemadsen commented on #621
Just because all new code I touch is getting targeted net 7.0 and getting updated targets as new .net versions are released. Just to keep all projects up to date and not having to maintain legacy code and build up a huge block of code depth. In my experince it's easier to maintain a lot of repositories if they all get small incremental updates and follow the release cycle of .net for framework upd

[2022-11-30 10:25] Kermel commented on #621
I probably messed up more things together (writing late at night :) ).
The key problem with Windsor curently is that it doesn't cooperate with the newest versions of Castle.Core (5+) so actualizing the libraries within our codebase is now blocked by it (there are some libraries such as NHibernate that depend on the Castle.Core too)

- Yeah - I can see the discussion was quite started by it and it

[2022-11-30 12:51] jeme commented on #621
While it is true that it often is easier to keep up with the newest version of .NET, when your a library author you have to consider where your audience/"customers" is as well.

If you wish for wide adoption and in turn chance to get contributors there is a balance to be struck here - which is also why you see many bigger projects targeting multiple versions of .NET. in line with what is official

[2022-11-30 13:23] tasoss commented on #621
@jonorossi  I really really don't want to be rude or sound bad but i must reply because you said a few things.

Well if you behave like you did on @Jevonius  then no one :)
13 July 2022 https://github.com/castleproject/Windsor/issues/612#issuecomment-1183604759

No reply from anyone

If you mean that my message was rude then i believe telling ppl "really soon" (but knowing that you don't believe i

[2022-11-30 13:23] renemadsen commented on #621
I understand that, but tend to lean towards we need to move forward and kind of nudging people into updating their own codebase in order for them to stay up to date.

Feel free to downgrade to .net 6 or netstandad, but I'm just not going to put the work into supporting older platforms.

[2022-11-30 15:54] jeme commented on #583
@jonorossi I imagine that having all these different facilities in this repository can be a burden when trying to get to the next release, e.g. 6.0 as discussed in another issue.

Could it be an idea to move all facilities out from here to their own repositories and have repos specific to specific areas, e.g. .NET Framwork targeted facilities such as MVC and WebApi and perhaps WCF (WCF could also

[2022-11-30 15:56] renemadsen commented on #621
@jonorossi

https://github.com/castleproject/Windsor/pull/641 including all the github actions etc. But it's for net 7 only, so old legacy code for webapi, aspnet, wfc is not tested, but it's still in the codebase if one wants to fix it.

[2022-11-30 18:51] Jevonius commented on #622
Unfortunately, I haven't made any further progress with this yet, but I'm leaning towards suggesting we drop `netstandard2.x` as a target; I just can't see how to reconcile the `System.Runtime.Loader` lack-of-support for `Framework` issue. As ever, if anyone has experience with this area of the code and has advice, I'm all ears :)

[2022-11-30 19:05] Jevonius commented on #621
No apology needed to me, totally get dealing with projects like this can be a bit thankless at times! Plus, life often gets in the way too :) I was having a look back through at the commit history at one point, this project's (+Castle as a whole) has been around for a long time, with lots of different maintainers over the years. As you point out, people generally only tend to care about the bit th

[2022-11-30 19:42] jeme commented on #622
@Jevonius Considering the project are targeting .NET Framework 4.6.2, .NET Standard 2.0 and .NET 6.0 I think this is how that plays out when you depend on it, its what I would expect happening anyways, I may be wrong though.

| Project Framework Target | Castle Winsor Target |
| .NET Framework 4.6.2     | .NET Framework 4.6.2 |
| .NET Framework 4.7.0     | .NET Framework 4.6.2 |
| .NET Framework 4

[2022-11-30 19:49] jeme commented on #622
As for the `Assembly.Load`/`Assembly.LoadFile` that sort of looks strange to me, I only have experience with these kinds of things from the .NET Framework perspective, so I am not sure what change there may be. So why the code block in `IsAssemblyFile` doesn't match the logic on the .NET Framework understandably raises some questions.